.background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  opacity: 1;
  margin: auto; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  box-shadow: 3px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 10px;
  color: #dadce4;
  justify-content: center;
}

.subtitle {
  text-align: center;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  border: 10px solid rgba(37, 114, 185, 0.5);
  box-shadow: 10px 10px 15px 0 rgb(91, 80, 185);
  margin-bottom: -50px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 10px;
  color: #ebecf3;
}

.team {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 400px;
  border-radius: 40px;
  border: 20px solid rgba(96, 114, 192, 0.5);
  box-shadow: 20px 10px 10px 0 rgb(143, 157, 238);
  margin-bottom: 5rem;
  font-size: 15px;
  align-items: center;
}

.h4, 
.h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: rgba(6, 37, 65, 0.836);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5px;
  line-height: 4rem;
}

.h3 {
  position: center;
  display: flex;
  align-items: center;
  padding: 0.9rem;
  color: rgba(28, 86, 136, 0.836);
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .subtitle {
    font-size: 15px;
  }
  .team {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 15px;
  }
}

.ov-btn-grow-ellipse {
  background: #fff; 
  border: 2px solid #4741d7; 
  padding: 10px;
  border-radius: 2px; 
  position: center;
  z-index: 1;
  overflow: hidden;
  margin-top: 10px;
  display: inline-block;
}

.ov-btn-grow-ellipse::after {
  content: "";
  background: #4741d7; 
  position: absolute;
  z-index: -1;
  padding: 10px;
  display: block;
  border-radius: 1rem;
  left: -50%;
  right: -50%;
  top: -100%;
  bottom: -100%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}

.ov-btn-grow-ellipse:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
  color: #fff;
}

