.detalle-form {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  padding: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 0.9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  position: center;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.strong {
  width: 90%;
  padding: 2px;
  margin-bottom: 0.5em;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cita-detalles {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 0.9;
  margin-bottom: 0.5em;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-detalle {
  display: block;
  flex-direction: column;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100px;
  box-shadow: 0px 2px 2px #ccc;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  background-color: #fff;
  transform: translateX(100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.button-add {
  margin: 4px auto;
  width: 50%;
  display: block;
  border-radius: 0.5rem;
  padding: 0.4px;
  background-color: hsl(239, 56%, 70%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(110, 165, 228, 0.918), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.button-menu {
  margin: 4px auto;
  width: 50%;
  display: block;
  border-radius: 0.5rem;
  padding: 0.4px;
  background-color: hsl(239, 56%, 70%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(110, 165, 228, 0.918), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.button-delete {
  margin: 4px auto;
  width: 50%;
  display: block;
  border-radius: 0.5rem;
  padding: 0.4px;
  background-color: hsl(239, 56%, 70%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(110, 165, 228, 0.918), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-exit {
  margin: 4px auto;
  width: 50%;
  display: block;
  border-radius: 0.5rem;
  padding: 0.4px;
  background-color: hsl(239, 56%, 70%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(110, 165, 228, 0.918), 0 6px 20px 0 rgba(0,0,0,0.19);
}

