.buscar-form {
  width: 100%;
  max-width: 450px;
  margin: 10px auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  opacity: 0.9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  margin-bottom: 15px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.label-container {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.strong {
  width: 90%;
  padding: 2px;
  margin-bottom: 0.5em;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.button-detalles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 0.5rem;
  background-color: hsl(239, 56%, 70%);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(110, 165, 228, 0.918), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100px;
  box-shadow: 0px 2px 2px #ccc;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  background-color: #fff;
  transform: translateX(100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.button-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100px;
  box-shadow: 0px 2px 2px #ccc;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  background-color: #fff;
  transform: translateX(100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  top: 70px;
  right: 0;
  width: 100px;
  box-shadow: 0px 2px 2px #ccc;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  background-color: #fff;
  transform: translateX(100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-exit {
  margin: 4px;
  width: 40%;
  border-radius: 0.5rem;
  padding: 4px;
  background-color: hsl(239, 56%, 70%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 8px 16px 0 rgba(110, 165, 228, 0.918), 0 6px 20px 0 rgba(0,0,0,0.19);
}

