/* :root {
  --colorSection: #fff;
  --colorText: #444655;
  --colorPrimary: #dd4962;
  --colorSecundary: #4a7ae5;
  --coloBackground: #a8aabc;
  --fontFamily: "Goudy Bookletter 1911", serif;
}

button {
  background: var(--colorSecundary);
  border: 3px solid var(--colorSecundary);
  box-shadow: -2px 4px 4px var(--colorText);
  border-radius: 10px;
  width: 135px;
  height: 35px;
  color: var(--colorSection);
  font-family: var(--fontFamily);
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--colorText);
  border: 3px solid var(--colorText);
  box-shadow: -2px 4px 4px var(--colorSecundary);
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 3px 0 var(--colorSecundary);
}

input {
  width: 100%;
  height: 20px;
  font-family: var(--fontFamily);
}

.input-first,
.input-second,
.input-third {
  border: 2px solid var(--colorSecundary);
  text-indent: 10px;
}

.input-first {
  border-radius: 20px 20px 0px 0px;
}

.input-second {
  border-bottom: 2px solid var(--colorSecundary);
  border-top: 2px solid var(--colorSecundary);
  border-right: 1px solid;
  border-left: 1px solid;
}

.input-third {
  border-radius: 0px 0px 20px 20px;
}

.input-first:invalid,
.input-third:invalid {
  border: 2.5px solid var(--colorPrimary);
}

.input-second:invalid {
  border-bottom: 2.5px solid var(--colorPrimary);
  border-top: 2.5px solid var(--colorPrimary);
}

.input-first:focus:invalid,
.input-third:focus:invalid {
  border: 2.5px solid var(--colorSecundary);
}

.input-second:focus:invalid {
  border-bottom: 2.5px solid var(--colorSecundary);
  border-top: 2.5px solid var(--colorSecundary);
} */
